/* https://youtu.be/6d3eoDp3C1M
 */

/* Colours
#ffe100
#ffc917
#f00000
#8c0000
#050505
 */

* {
  box-sizing: border-box;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* position: relative; */
  font-size: 1.5em;
}
/* Nav */
#main-nav {
  background: linear-gradient(90deg, #ffe100, #8c0000);
  max-height: 30vh;
  max-width: 100vw;
  /* display: flex;
  padding: 1rem; */
}
/* TO TOP button */
.go-top-btn {
  position: fixed;
  bottom: 35px;
  right: 35px;
  border-radius: 50%;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  background: white;
  border: 3px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:2;
  /* display: none;  */
}

div.container a {
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
  color: #050505;
  display: inline-block;
  margin: 1rem;
  padding-left: 1em;
}
div.container a:hover {
  color: #8c0000;
}

h1 {
  margin: 0;
  position: relative;
  top: -3em;
  left: -1em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 5em;
  background: -webkit-linear-gradient(
    90deg,red,
#8c0000,
#050505,#f00000,
#8c0000,
#050505
  );


  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
}

/* Header Image */
.img-header {
  width: 100vw;
  height: 80vh;
  object-fit: fill;
  display: block;
  margin: 0 auto;
  margin-bottom: 5%;
}

header {
  height: 45rem;
  position: relative;
  text-align: center;

}

/* MENU */
.menu-text {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 4em;
   margin-bottom: 1rem; 
margin-top:6rem;
}

/* Default Styles (Desktop First) */
#menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns by default */
  gap: 1rem;
  max-width: 80vw;
  margin: 0 auto;
}

/* .menu-text {
  text-align: center;
  font-size: 3em;
  margin-bottom: 4rem;
} */

.desserts-image img,
.appetizers-image img,
.main-course-image img {
  width: 100%;
  height: auto; /* Ensure images maintain aspect ratio */
  object-fit: cover; /* Makes sure images fill the grid area without squishing */
}

/* Opening hours,About Us, contact us */
#about-container,
#opening-hours-container,
#contact-container {
  text-align: center;
  margin: 0 auto;
  color: white;
  background-image: url("https://t4.ftcdn.net/jpg/02/24/23/37/360_F_224233775_UW15T3UXvWDcHp5dcqznfku98SNBWOGq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  
}

#about-container {
  min-width: 60vw;
  min-height: 20vh;
}
.about-story {
  font-size: 1.8rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  padding:0 1rem 1rem 2rem;
 
}

.about-us {
  padding-top: 0.9rem;

  text-shadow: 0.3rem 0.2rem 0.1rem black;
  color: #d10606;
}

.opening-hours {
  padding-top: 4rem;
  text-shadow: 0.3rem 0.1rem 0.1rem black;
  color: #d10606;
}
.contact-us-text {
  text-shadow: 0.3rem 0.1rem 0.1rem black;
  color: #d10606;
  margin-top: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

footer {
  background-color: #050505;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  color: white;
  min-height: 10vh;
}

h2,
h3 {
  font-size: 3rem;
  margin: 0;
}
h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3rem;
}

h4 {
  text-shadow: 0.1rem 0.1rem 0.1rem #8c0000;
  font-size: 1.3em;
}

/* CONTACT US */

form {
  min-height: 50vw;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="datetime-local"],
button.btn {
  width: 60%;
  height: 2rem;
  border-radius:0.2rem;
}

textarea {
  width: 60%;
  height: 7rem;
  /* border-raduis: 0.5rem; */

}
p.btn {
  margin: 0.2;
 
}
button.btn{
background-color:#8c0000;
  
}

textarea::placeholder,input::placeholder{
  font-size:1rem;
  opacity:0.5;
}



/* MEDIA QUERY */
/* 2xl */
@media (min-width: 1301px) {
  header {
  height: 35rem;} 

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="datetime-local"],
  button.btn {
    width: 60%;
    height: 3rem;
 
  }

  form {
    height: 80vh;
  }

  h1 {
    font-size: 6rem;
  }

  .img-header {
    padding-right: 1rem;
  }
 
    
  
}

/* lg */
@media (max-width: 1300px) {
header {
  height: 35rem;}

  #menu {
    grid-template-columns: 1fr; /* Switch to single column layout */
  }

  .img-header {
    height: 55vh; /* Adjust the header image height */
  }

  .menu-text {
    font-size: 2.5em;
  }

  h1 {
    font-size: 4rem;
  }

  .about-story {
    font-size: 1.2rem;
  }

  .opening-hours {
    padding-top: 0;
  }
  h2,
  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }
  .day {
    font-size: 1.2rem;
  }

  form {
    min-height: 80vh;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="datetime-local"],
  textarea,
  button.btn {
    width: 80%;
    height:2rem;
  }

  footer {
    font-size: 1.1rem;
    padding-bottom: 2rem;
  }
  .img-header {
    padding-right: 1rem;
  }
}

/* md */

@media (max-width: 768px) {

header {
  height: 25rem;}

  #menu {
    grid-template-columns: 1fr;
  }

  .desserts-image img,
  .appetizers-image img,
  .main-course-image img {
    width: 100%; /* Ensure full width */
    object-fit: cover;
  }

  /* Reduce the font sizes */
  .menu-text {
    font-size: 2.2em;
  }

  h1 {
    font-size: 4rem;
  }

  .opening-hours {
    padding-top: 0;
  }

  h2,
  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }
  .day {
    font-size: 1.1rem;
  }

  .about-story {
    font-size: 1.1rem;
  }
  .opening-hours-p {
    font-size: 1.3rem;
  }

  form {
    min-height: 70vh;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="datetime-local"],
  textarea,
  button.btn {
    width: 90%;
    height:2rem;
  }

  footer {
    font-size: 1.1rem;
    padding-bottom: 2rem;
  }
  .img-header {
    padding-right: 1rem;
  }
  
  .go-top-btn {
    display: none;
  }
}

/* sm */
@media (max-width: 640px) {
header {
  height: 22rem;}

  h1 {
    font-size: 3rem;
  }

  #menu {
    grid-template-columns: 1fr; /* Single column on smaller screens */
  }

  .img-header {
    height: 50vh; /* Reduce the height of the header image */
  }

  .menu-text {
    font-size: 2em;
  }

  .desserts-image img,
  .appetizers-image img,
  .main-course-image img {
    width: 100%;
    height: auto;
    object-fit: contain; /* Ensure full display without cropping */
  }

  .opening-hours {
    padding-top: 0;
  }

  h2,
  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }
  .day {
    font-size: 1.3rem;
  }

  .about-story {
    font-size: 1.2rem;
  }
  form {
    min-height: 70vh;
    height:1rem;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="datetime-local"],
  textarea,
  button.btn {
    width: 80%;
    height:2rem;
  }

  footer {
    font-size: 1.1rem;
    padding-bottom: 2rem;
  }
  .img-header {
    padding-right: 1rem;
  }
  div.container a {
    font-size: 1rem;
  }
  .go-top-btn {
    display: none;
  }
}

/* xs */
@media (max-width: 475px) {
header {
  height: 20rem;}

  div.container a {
    font-size: 1rem;
  }

  #menu {
    grid-template-columns: 1fr;
  }

  .img-header {
    height: 45vh;
  }

  h1 {
    font-size: 1.3em;
  }

  .menu-text {
    font-size: 1.8em;
  }

  /* Ensure form fields are full-width */
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="datetime-local"],
  textarea,
  button.btn {
    width: 90%;
  }

  .desserts-image img,
  .appetizers-image img,
  .main-course-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .desserts-image img,
  .appetizers-image img {
    min-width: 80vw;
  }

  .go-top-btn {
    display: none;
  }

  .opening-hours {
    padding-top: 0;
  }

  h2,
  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }
  .day {
    font-size: 1.3rem;
  }

  .about-story {
    font-size: 1.2rem;
  }
  form {
    min-height: 70vh;
  }
  footer {
    font-size: 1.1rem;
    padding-bottom: 2rem;
  }

  .img-header {
    padding-right: 1rem;
  }
}
